<html>
<head>
<style type="text/css">
  #container {
    max-width: 400px;
    height: 400px;
    margin: auto;
  }
</style>
</head>
<body>
<div id="container"></div>
<!-- <script src="js/sigma.require.js"></script> -->
<script src="js/sigma.min.js"></script>
<script src="js/sigma.parsers.json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
  var abvMap = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "District Of Columbia": "DC",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
  }

  var s = new sigma('container');

  function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min)) + min;
  }

  var coordinatesMap = {};
  $.get("/graph/coords", function(data, status) {
    let arr = JSON.parse(data);
    for (var s of arr) {
      s = JSON.parse(s);

      //stupid hack i dont have time
      if (s.label === "District of Columbia")
        s.label = "District Of Columbia";

      coordinatesMap[abvMap[s.label]] = {
        x: parseFloat(s.x),
        y: parseFloat(s.y)
      };
    }


  });

  $.get("/graph/nodes", function(data, status) {
    var nodesData = JSON.parse(data);
    for (var n of nodesData) {
      n = JSON.parse(n);
      console.log(coordinatesMap[n.id]);
      s.graph.addNode({
        id: n.id,
        label: n.label,
        x: coordinatesMap[n.id].x,
        y: coordinatesMap[n.id].y,
        color: '#f00'
      });
    }

    $.get("/graph/edges", function(data, status) {
      var edgesData = JSON.parse(data);
      for (var e of edgesData) {
        var e = JSON.parse(e);
        s.graph.addEdge({
          id: e.id,
          source: e.source,
          target: e.target
        });
      }
      s.refresh();
    });

  });


  // // Then, let's add some data to display:
  // s.graph.addNode({
  //   // Main attributes:
  //   id: 'n0',
  //   label: 'Hello',
  //   // Display attributes:
  //   x: 0,
  //   y: 0,
  //   size: 1,
  //   color: '#f00'
  // }).addNode({
  //   // Main attributes:
  //   id: 'n1',
  //   label: 'World !',
  //   // Display attributes:
  //   x: 1,
  //   y: 1,
  //   size: 1,
  //   color: '#00f'
  // }).addEdge({
  //   id: 'e0',
  //   // Reference extremities:
  //   source: 'n0',
  //   target: 'n1'
  // });
  //
  // // Finally, let's ask our sigma instance to refresh:
  // s.refresh();
</script>
</body>
</html>
