<!doctype html>
<html>
  <head>
    <title>Data Visualization</title>
    <link rel="stylesheet" type="text/css" href="css/chart.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/usaLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/chalk.js"></script>
  </head>
  <body>
    <div id="chartdiv"></div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div style="margin:"0 auto"">
              <canvas id="word_cloud" class="wordCloud" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/wordcloud2.js"></script>
    <script src="js/chart.js"></script>
  </body>
</html>
